.contact {
    background-color: #0A1128;
    height: 28rem;
}

.contact h2 {
    color: #FEFCFB;
    margin-bottom: 0;
}

.contact p {
    color: #FEFCFB;
    text-align: center;
}

.contact_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10rem;
    cursor: pointer;
}


.contact_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    
    
}

.contact_icon a {
    color: #FEFCFB;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}
